body{
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
}

header{
  background-color: #010101;
}

.head{
  width: 100%;
}

.logo{
  width: 100px;
  height: 100px;
}

nav{
  display: flex;
  flex-direction: row;
}

.menu ul{
  width: 500px;
  display: flex;
}

.menu li{
  list-style: none;
}

.menu li a{
  color: #fff;
  text-decoration: none;
}